<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>

<body>
<script>
  function count(type)  {
    // 결과를 표시할 element
    const resultElement = document.getElementById('result');

    // 현재 화면에 표시된 값
    let number = resultElement.innerText;

    // 더하기/빼기
    if(type === 'plus') {
      number = parseInt(number) + 1;
    }else if(type === 'minus')  {
      number = parseInt(number) - 1;
    }

    // 결과 출력
    resultElement.innerText = number;
  }
</script>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 상세</h2>
  </div>
  <div class="card" style="width: 20rem;margin: auto auto 20px;">
    <div>
      <img src="..." class="card-img-top" alt="이미지 준비중입니다.">
    </div>
    <!--장바구니 수량 버튼-->
    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
      <li th:classappend="${itemcnt == 0} ? 'disabled'">
        <input style="width: 100px;" type='button' onclick='count("minus")' value='-'/>
      </li>>
      <div style="width: 500px; border:1px solid; text-align: center" id='result'>0</div>
      <li th:classappend="${itemcnt == itemstock} ? 'disabled'">
        <input style="width: 100px;" type='button' onclick='count("plus")' value='+'/>
      </li>
    </div>
  </div>
  <div>
    <label for="itemName">상품명</label>
    <input type="text" id="itemName" name="itemName" class="form-control"
           value="상품A" th:value="${resDto.getItemName()}" readonly>
  </div>
  <div>
    <label for="price">가격</label>
    <input type="text" id="price" name="price" class="form-control"
           value="10000" th:value="${resDto.getItemPrice()}" readonly>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='updateForm.html'"
              th:onclick="|location.href='@{/items/update/{id}(id=${id})}'|" type="button">상품 수정</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              th:onclick="|location.href='@{/items/delete/{id}(id=${id})}'|" type="button">상품 삭제</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='findAllForm.html'"
              th:onclick="|location.href='@{/items}'|" type="button">목록으로</button>
    </div>
  </div>

</div>
</div>

<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>