<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<style>
  .container {
    display: flex;
    gap: 20px 1%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .inner{
    width: 30%;
  }
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<button style="margin: auto auto 20px;display:block;" type="button" class="btn btn-primary"
        onclick="location.href='createForm.html'"
        th:onclick="|location.href='@{/items/create}'|">상품 등록</button>

<div class="container">
<tr th:each="item : ${items}">
  <div class="inner">
    <div class="card" style="width: 10rem;">
    <a onclick="location.href='findForm.html'"
       th:onclick="|location.href='@{/items/{id}(id=${item.getId})}'|">
      <img src="..." class="card-img-top" alt="이미지 준비중입니다.">
    </a>
    </div>
    <div class="card-body">
      <a href="#" class="btn btn-primary">수량버튼</a>
      <p class="card-title" th:text="${item.getItemName()}">상품 이름</p>
      <h5 class="card-text" th:text="${item.getPrice()}+원">가격</h5>
    </div>
  </div>
</tr>
</div>
<br/>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>