<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<style>
    /* search */
    .modal-search {
        position: relative;
        width: 450px;
    }

    .modal-search input {
        width: 100%;
        border: 1px solid #bbb;
        border-radius: 8px;
        padding: 10px 12px;
        font-size: 14px;
    }

    .modal-search input:focus {
        outline: 1px solid gray;
    }

    .modal-search img {
        position : absolute;
        width: 19px;
        height: 22px;
        top: 10px;
        right: 12px;
        margin: 0;
    }
</style>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- bodyHeader -->
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>

<div class="container"><br>

    <div>
        <h1>레시피 등록 페이지</h1><hr>
    </div>
    <div>
        <button type="button" class="btn btn-outline-success" style="float: right;"
                th:onclick="|location.href='@{/recipes/list}'|">목록가기</button>
    </div><br><br><br>

    <!--        &lt;!&ndash; 카테고리 선택 &ndash;&gt;-->
    <!--        <div>-->
    <!--            <h5>레시피 카테고리</h5>-->
    <!--            <select class="form-select" aria-label="Default select example" style="width: 550px;">-->
    <!--                <option selected>카테고리를 선택해주세요.</option>-->
    <!--                <option value="1">메인요리</option>-->
    <!--                <option value="2">간단요리</option>-->
    <!--                <option value="3">초대요리</option>-->
    <!--                <option value="4">안주요리</option>-->
    <!--                <option value="5">분식</option>-->
    <!--                <option value="6">간식</option>-->
    <!--            </select>-->
    <!--        </div>-->

    <!--        <br>-->

    <!-- 레시피 등록하는 곳 -->
    <div class="container px-4">
        <div class="row gx-5">

            <!-- 내용 -->
            <div class="p-3 border" style="background-color: #F8FAF9;">
                <h5>레시피 작성</h5>
                <hr>
                <form role="form" th:action="@{/recipes/create}" th:object="${recipeCreateReqDto}" method="post">
                    <!-- 레시피 제목  -->
                    <div class="form-group col">
                        <label th:for="recipeTitle">제목</label>
                        <input type="text" th:field="*{recipeTitle}" class="form-control" placeholder="제목을 입력하세요"
                               th:class="${#fields.hasErrors('recipeTitle')}? 'form-control fieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('recipeTitle')}" th:errors="*{recipeTitle}"></p>
                    </div><br>
                    <!-- 레시피 내용  -->
                    <div class="form-group mb-3">
                        <label th:for="recipeBody" class="form-label">레시피 내용</label>
                        <textarea th:field="*{recipeBody}" class="form-control" rows="3" style="height: 300px;"
                                  th:class="${#fields.hasErrors('recipeBody')}? 'form-control fieldError' : 'form-control'">
                                </textarea>
                        <p th:if="${#fields.hasErrors('recipeBody')}" th:errors="*{recipeBody}"></p>
                    </div>
                    <button type="submit" class="btn btn-outline-success">작성완료</button>
                    <!--                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
                    <!--                            <button class="btn btn-secondary me-md-2" type="button">수정</button>-->
                    <!--                            <button type="submit" class="btn btn-secondary me-md-2" type="button">삭제</button>-->
                    <!--                        </div> 수정 삭제는 상세 페이지로 옮길 예정 -->
                </form>
            </div>

            <!-- 레시피 이미지 첨부파일 -->
            <div class="p-3 border" style="margin-top: 20px; background-color: #F8FAF9;">
                <h5>레시피 이미지</h5>
                <hr>
                <!--
                <br>
                <img src="" class="img-fluid" alt="..." style="">
                <br><br>
                -->
                <!-- File input -->
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
            </div>

            <!-- 재료 목록 -->

            <div class="p-3 border" style="margin-top: 20px; background-color: #F8FAF9;">
                <h5>재료 목록</h5><hr><br>
                <!-- 첫번째 재료 -->
                <span class="d-grid gap-1 col-2">
                    <table>
                        <tr>
                            <th>재료이름</th>
                            <th>단위</th>
                        </tr>
                        <tr th:each="recipe , index: ${data}">
                            <td th:text="${data}">
                                <input value="">
                            </td>
                            <td th:text="${data}">
                                <input value="">
                            </td>
                        </tr>
                    </table>
                </span> <br>

                <!-- Button trigger modal, 재료 등록 버튼 -->
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  재료 등록
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">재료 등록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <!-- search -->
                          <div class="modal-search">
                              <form th:action="@{/recipes/searchItem}" method="get">
                                  <input type="text" name="keyword" placeholder="재료 검색">
                                  <button style="border:none;" type="submit"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                              </form>
                          </div><hr><br>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-outline-success">재료 저장</button>
                      </div>
                    </div>
                  </div>
                </div><br>

            </div>

        </div>

    </div>

    <br><br><br><br>

</div>

<!-- footer -->
<div th:replace="fragments/footer :: footerFragment"/>
<br><br>
</body>
</html>