<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="fragments/header :: headerFragment"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/recipe.css}"/>
    <script type="text/javascript" th:src="@{/js/review.js}"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        align-items: center;
    }

    div.recipe-wapper {
        width: 100%;
        /* text-align: left; */
        margin: 0 auto;
    }

    /* 레시피 정보 box */
    .recipe-write-content {
        align-items: center;
        text-align: center;
    }

    /* 레시피 제목 */
    .title-box {
        background-color: rgba(219, 208, 192, 0.42);
        padding: 15px;
        border-radius: 5px;
        font-size: large;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }

    .detail-box {
        border: 1px solid rgba(219, 208, 192, 0.7);
        padding: 10px;
        border-radius: 5px;
        font-size: large;
        margin-bottom: 5px;
        font-size: small;
    }

    .margin-10 {
        margin-bottom: 10px;
    }

    .individual-content-input {
        width: 900px;
    }

    .light {
        background-color: #dbd0c01f;
    }

    button {
        color: #625d55;
        background-color: white;
        border-color: #625d55;
        font-weight: bold;
    }

    button:hover, button:active, button:visited {
        border-color: #DBD0C0 !important;
        outline-color: #DBD0C0 !important;
        background-color: #DBD0C0 !important;
        color: black;
    }

</style>
<body>
<div sec:authorize="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER', 'ROLE_ADMIN', 'ROLE_HEAD')">
    <div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
</div>
<div sec:authorize="hasAnyRole('ROLE_SELLER', 'ROLE_READY', 'ROLE_REJECT')">
    <div th:replace="fragments/sellerBodyHeader :: sellerBodyHeaderFragment"/>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="recipe-wapper">
    <div class="container">
        <div class="margin-common"></div>
        <div style="text-align: center;">
            <h3>|&nbsp;&nbsp;&nbsp;RECIPES FOR YOU&nbsp;&nbsp;&nbsp;|</h3>
            <h5>맞춤추천 레시피를 둘러보세요.</h5>
        </div>
        <div class="margin-20"></div>

        <!-- 레시피 등록하는 곳 타이틀 -->
        <div class="recipe-title margin-10">
            <div>
                <span style="float: right;" th:if="${recipe.getUserName() == #authentication.getPrincipal()}">
                    <button type="button" class="btn"
                            th:onclick="|location.href='@{/recipes/update/{recipeId} (recipeId=${recipeId})}'|"
                            sec:authorize="isAuthenticated()">레시피 수정</button>
                    <button type="button" class="btn recipeDeleteBtn"
                            th:onclick="|location.href='@{/recipes/delete/{recipeId} (recipeId=${recipeId})}'|"
                            sec:authorize="isAuthenticated()">레시피 삭제</button>
                </span>
                <span style="float: right;">
                    <button type="button" class="btn "
                            th:onclick="|location.href='@{/recipes/list}'|">전체 레시피 보기</button>
                </span>
            </div>

            <br><br>

            <div>
                <div class="col">
                    <div class="title-box" th:text="${recipe.recipeTitle}"></div>
                </div>
            </div>
            <br>

            <div class="recipe-write-content">
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="detail-box">레시피 정보 ID : <span id="recipe-id" th:text="${recipe.getRecipeId()}">ID</span>
                            </div>
                            <div class="detail-box">작성자 : &nbsp;<span th:text="${recipe.getUserName()}">작성자</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <div class="detail-box">작성시간 : <span th:text="${#temporals.format(recipe.getCreatedDate(), 'yyyy-MM-dd HH:mm')}"></span></div>
                            <div class="detail-box">수정시간 : <span th:text="${#temporals.format(recipe.getLastModifiedDate(), 'yyyy-MM-dd HH:mm')}"></span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <div class="detail-box">조회수 : <span th:text="${recipe.recipeView}">조회수</span></div>
                            <div class="detail-box">좋아요💗: <span th:text="${recipe.recipeLike}">좋아요</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="row gx-5" style="border-radius: 10px;">
            <div>
                <div class="p-3 border light" style="padding: 15px; border-radius: 10px; text-align: center;">
                    <img th:src="${recipe.recipeImagePath}" class="img-fluid" alt="..."
                         th:if="${recipe.recipeImagePath != null}">
                    <img src="https://woowahan-recipe-s3-bucket.s3.ap-northeast-2.amazonaws.com/recipes/noimage.gif"
                         class="img-fluid" alt="..." th:if="${recipe.recipeImagePath == null}">
                </div>

                <div class="p-3 border light margin-10" style="margin-top: 60px; border-radius: 10px;">
                    <div class="mb-3">
                        <div style="font-weight: bolder; font-size: 22px; margin: 20px 0px 30px 0px; text-align: center;"
                             th:text="${recipe.recipeTitle}">제목</div>
                    </div>
                    <div class="mb-3">
                        <div th:text="${recipe.getRecipeBody()}" style="white-space:pre; white-space: pre-wrap;">레시피
                            내용
                        </div>
                    </div>
                </div>

                <div class="p-3 border light margin-10" style="margin-top: 60px; border-radius: 10px;">
                    <h6 style="font-weight: bold; margin: 10px 0px 10px 0px;">구매하실 재료를 선택해주세요.</h6>
                    <div>
                        <table class="table" style="width: 500px; text-align: center;">
                            <thead>
                            <tr>
                                <th><input class="form-check-input" type="checkbox" id="chkAll" name="chkAll"/></th>
                                <th scope="col">재료명</th>
                            </tr>
                            </thead>
                            <td th:if="${recipe.items.size() == 0}">등록된 재료가 없습니다.</td>
                            <th:block th:unless="${recipe.items.size() == 0}" th:each="obj : ${recipe.items}">
                                <tbody>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" id="chk" name="chk"
                                               th:itemCnt="1" th:itemId="${obj.item.id}" th:value="${obj.item.name}">
                                    </td>
                                    <td th:text="${obj.item.name}"/>
                                </tr>
                                </tbody>
                            </th:block>
                        </table>
                        <!--재료 리스트-->
                        <div id="item-form-list"></div>
                        <br>

                        <div sec:authorize="!isAuthenticated()" style="text-align: center;">
                            <button class="btn" type="button" onclick="cartLogin();">장바구니에 담기</button>
                        </div>
                        <div sec:authorize="hasRole('ROLE_USER')" style="text-align: center;">
                            <button class="btn" id="form-btn" type="submit">장바구니에 담기</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center; font-weight: 500; border: 1px solid rgba(219,208,192,0.45); padding: 20px; border-radius: 10px;">
            <div sec:authorize="!isAuthenticated()">
                <span>마음에 드는 레시피를 저장하기 위해서는 로그인이 필요합니다.</span> &nbsp;
                <button class="btn like-btn" type="button" style="border:none; background-color: rgba(219,208,192,0.45);">💗</button>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                <span>이 레시피가 좋으면 좋아요를 눌러 마이페이지에서 따로 확인하실 수 있습니다.</span> &nbsp;
                <button class="btn" type="button" style="border:none; background-color: rgba(219,208,192,0.45);"
                        th:onclick="|location.href='@{/recipes/{recipeId}/likes (recipeId=${recipeId})}'|">💗</button>
            </div>
        </div>
        <div class="margin-my"></div>

        <!-- 리뷰 -->
        <div>
            <h4>Review</h4>
            <hr>
        <div class="" sec:authorize="hasAnyRole('ROLE_USER')" style="border-radius: 10px; border:1px solid white;">
            <div class="">
                <form role="form" th:action="@{/recipes/{recipeId}/reviews (recipeId=${recipeId})}"
                      th:object="${reviewCreateRequest}" method="post" content>
                    <!-- 내용  -->
                    <div class="form-group col">
                        <input type="text" id="review-content" th:field="*{content}" class="form-control" placeholder="리뷰 내용을 입력해주세요"
                               th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                    </div>
                    <br>
                    <div style="text-align: right;">
                        <button type="submit" id="review-btn" class="btn" onclick="reviewContent();">리뷰 작성</button>
                    </div>
                    <br>
                </form>

                <div sec:authorize="!isAuthenticated()">
                    <!-- 리뷰 내용  -->
                    <div class="form-group col">
                        <label>리뷰 내용</label>
                        <input type="text" class="form-control" placeholder="리뷰 내용을 입력해주세요">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn" onclick="reviewLogin()">리뷰 작성완료</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="card-header" style="font-weight: bold; background-color: rgba(219,208,192,0.45);">Review 목록</div>
            <table class="table" style="width: 100%;">
                <thead>
                <tr>
                    <colgroup>
                        <col style="width: 5%"/>
                        <col style="width: 70%"/>
                        <col style="width: 15%"/>
                        <col style="width: 5%"/>
                        <col style="width: 5%"/>
                    </colgroup>
                    <th scpoe="col">ID</th>
                    <th scope="col" style="width: 50%">내용</th>
                    <th scope="col">작성자명</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody style="width: 100%;">
                <th:block th:if="${#lists.size(recipe.reviews) == 0}">
                    <td colspan="5" class="text-center" style="border: none;">댓글이 없습니다. 가장 먼저 댓글을 달아보세요</td>
                </th:block>
                <th:block th:unless="${#lists.size(recipe.reviews) == 0}">
                    <tr th:each="review : ${recipe.reviews}">
                        <td class="individual-review-id" th:text="${review.reviewId}"/>
                        <td><input class="individual-content-input" placeholder="수정할 리뷰내용 입력"
                                   th:value="${review.content}" readonly></td>
                        <td th:text="${review.user.userName}"/>
                        <td sec:authorize="hasRole('ROLE_USER')" th:if="${review.user.getUserName() == #authentication.getPrincipal()}">
                            <button type="button" class="edibtn btn-jelly" style="width: 50px" th:idx="${reviewStat.index}"
                                        onclick="updateReview(this.getAttribute('idx'))">
                                수정
                            </button>
                            <button type="button" class="btn-jelly" style="width: 50px;" th:idx="${reviewStat.index}"
                                    onclick="deleteReview(this.getAttribute('idx'))">
                                삭제
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <br>
        </div>
        <br><br>
        <div style="text-align: center; margin-right: 10px;">
            <button class="btn btn-lg" onclick="location.href='recipeList.html'"
                    th:onclick="|location.href='@{/recipes/list}'|">목록가기
            </button>
        </div>
    </div>
    <div class="margin-common"></div>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</div>
<script>
    // checkbox 선택/해제
    $(document).ready(function () {
        $("#chkAll").click(function () {
            if ($("#chkAll").is(":checked")) $("input[name=chk]").prop("checked", true);
            else $("input[name=chk]").prop("checked", false);
        });

        $("input[name=chk]").click(function () {
            var total = $("input[name=chk]").length;
            var checked = $("input[name=chk]:checked").length;

            if (total != checked) $("#chkAll").prop("checked", false);
            else $("#chkAll").prop("checked", true);
        });
    });

    // 장바구니 담기
    $(document).ready(function() {
        $('#form-btn').click(function () {
            // alert($('#chk').val()); // 장바구니담기 버튼을 누르면 어떤 값을 보냈는지 값 출력
            // alert($("input[type=checkbox][name=chk]:checked").val());

            var total = $("input[name=chk]:checked").length;
            if (total == 0) {
                alert("상품을 1개 이상 선택해주세요");
                return;
            }

            var items = $("input[name=chk]:checked");
            var orderItems = [];
            for (var [idx, selectElement] of Object.entries(items)) {
                const itemId = $(selectElement).attr("itemId");
                const itemCnt = $(selectElement).attr("itemCnt");
                const checked = selectElement.checked;
                if (!isNaN(idx)) {
                    orderItems.push({
                        cartItemId: parseInt(itemId),
                        cartItemCnt: itemCnt
                    })
                }
            }

            addCartItem(orderItems);
        });
    });

    function addCartItem(orderItems) {
        $.ajax({
            url: "/api/v1/recipes/carts",
            method: "POST",
            // dataType: "json",
            contentType: 'application/json;charset=utf-8',
            data: JSON.stringify(orderItems)
        }).done((data) => {
            var answer = confirm('장바구니에 상품이 담겼습니다.\n장바구니로 이동하시겠습니까?');
            if (answer) {
                location.href = "/carts";
            }
        }).fail((error) => {
            if (error.result) {
                alert(error.result);
            }
        }).always(() => {
        })
    }

    // 레시피 삭제 버튼
    $(document).on("click", ".recipeDeleteBtn", function() {
        alert('레시피가 삭제되었습니다.');
    });

    function cartLogin() {
        alert('로그인이 필요한 서비스입니다.');
        window.location.href = "http://woowahan.store:8080/login";
    }

    $(document).on("click", ".like-btn", function() {
        alert('로그인이 필요한 서비스입니다.');
        window.location.href = "http://woowahan.store:8080/login";
    });

    function reviewLogin() {
        alert('로그인이 필요한 서비스입니다.');
        window.location.href = "http://woowahan.store:8080/login";
    }

    $(document).ready(function () {
        $("#review-btn").click(function () {
            if ($("#review-content").val().length == 0) {
                alert("리뷰 내용을 입력해주세요.");
                setTimeout(function () {
                    $("#review-content").focus();
                }, 1);
                return false;
            }
        });
    });
</script>
</body>
</html>