<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- bodyHeader -->
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>

<div class="container">
    <br>
    <div>
        <h1>레시피 수정 페이지</h1><hr>
    </div>
    <div>
        <button type="button" class="btn btn-outline-success" style="float: right;"
                th:onclick="|location.href='@{/recipes/list}'|">목록가기</button>
    </div><br><br><br>

    <!--        &lt;!&ndash; 카테고리 선택 &ndash;&gt;-->
    <!--        <div>-->
    <!--            <h5>레시피 카테고리</h5>-->
    <!--            <select class="form-select" aria-label="Default select example" style="width: 550px;">-->
    <!--                <option selected>카테고리를 선택해주세요.</option>-->
    <!--                <option value="1">메인요리</option>-->
    <!--                <option value="2">간단요리</option>-->
    <!--                <option value="3">초대요리</option>-->
    <!--                <option value="4">안주요리</option>-->
    <!--                <option value="5">분식</option>-->
    <!--                <option value="6">간식</option>-->
    <!--            </select>-->
    <!--        </div>-->

    <!--        <br>-->

    <!-- 레시피 등록하는 곳 -->
    <div class="container px-4">
        <div class="row gx-5">

            <!-- 내용 -->
            <div class="p-3 border bg-light">
                <h5>레시피 수정</h5>
                <h6>제목, 내용, 재료 중 하나라도 입력되지 않으면 레시피가 등록되지 않습니다.</h6>
                <hr>
                <form role="form" th:action="@{/recipes/update/{recipeId} (recipeId=${recipeId})}" th:object="${recipeUpdateReqDto}" method="post">
                    <!-- 레시피 제목  -->
                    <div class="form-group col">
                        <label th:for="recipeTitle">레시피 제목</label>
                        <input type="text" th:field="*{recipeTitle}" class="form-control" placeholder="제목을 입력하세요"
                               th:class="${#fields.hasErrors('recipeTitle')}? 'form-control fieldError' : 'form-control'" onfocus="this.value=''; return true;">
                        <p th:if="${#fields.hasErrors('recipeTitle')}" th:errors="*{recipeTitle}"></p>
                    </div><br>
                    <!-- 레시피 내용  -->
                    <div class="form-group mb-3">
                        <label th:for="recipeBody" class="form-label">레시피 내용  (음식에 필요한 재료와 단위를 먼저 적어주시면 더 완벽한 레시피가 될거에요)</label>
                        <textarea th:field="*{recipeBody}" class="form-control" rows="3" style="height: 300px;"
                                  th:class="${#fields.hasErrors('recipeBody')}? 'form-control fieldError' : 'form-control'" onfocus="this.value=''; return true;">
                        </textarea>
                        <p th:if="${#fields.hasErrors('recipeBody')}" th:errors="*{recipeBody}"></p>
                    </div>
                    <button type="submit" class="btn btn-outline-success">수정완료</button>
                </form>
            </div>

            <!-- 레시피 이미지 첨부파일 -->
            <div class="p-3 border bg-light" style="margin-top: 20px;">
                <h5>레시피 이미지</h5>
                <hr>
                <!--
                <br>
                <img src="" class="img-fluid" alt="..." style="">
                <br><br>
                -->
                <!-- File input -->
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
            </div>

            <div class="p-3 border bg-light margin-10" style="margin-top: 20px;">
                <h5>레시피 재료</h5><hr><br>
                <h5>삭제할 재료는 삭제를, 재료를 추가하시려면 추가버튼을 눌러주세요.</h5>
                <table class="table " style="width: 800px;">
                    <thead>
                    <tr>
                        <th scope="col">삭제</th>
                        <th scope="col">재료명</th>
                    </tr>
                    </thead>
                    <!-- th:block -->
                    <th:block>
<!--                    <th:block th:each="num : ${#numbers.sequence(0,recipe.getItems().size()-1)}">-->
                        <tbody>
                        <tr>
                            <th scope="row"><button type="button" class="btn btn-secondary btn-sm">X</button></th>
                            <td>양파</td><!--  th:text="${data}" -->
<!--                            <td th:text="${recipe.getItems().get(num).item.getName()}"/>-->
                        </tr>
                        </tbody>
                    </th:block>
                </table><br>

                <!-- 재료 등록 버튼 -->
                <div class="d-grid gap-2 mx-auto">
                    <div><button class="btn btn-outline-success"  type="submit">재료 추가</button></div>
                </div><br>
            </div>

        </div>

    </div>

    <br><br><br><br>

</div>

<!-- footer -->
<div th:replace="fragments/footer :: footerFragment"/>
<br><br>
</body>
</html>