<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminMain}">
<body>
<div layout:fragment="adminMain" class="container">
  <div class="margin-my"></div>
  <!-- 상단 메뉴바 -->
  <div>
  <div th:replace="fragments/myPageNav :: myPageFragment"/>
    <div class="margin-20"></div>
    <div style="text-align: center;">
      <h3>| 판매자 |</h3>
    </div>
    <div class="margin-20"></div>
    <div>
      <table class="table table-hover" style="text-align: center;">
        <thead>
        <tr>
          <th scope="col">계정 ID</th>
          <th scope="col">이름</th>
          <th scope="col">주소</th>
          <th scope="col">이메일</th>
          <th scope="col">핸드폰 번호</th>
          <th scope="col">사업자등록번호</th>
          <th scope="col">상태</th>
          <th scope="col">등록/삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-hover seller-info" th:each="seller : ${sellerList}">
          <th th:text="${seller.sellerName}"/>
          <td class="seller-id" th:text="${seller.id}" style="display: none;" />
          <td class="company-name" th:text="${seller.companyName}"/>
          <td th:text="${seller.address}"/>
          <td th:text="${seller.email}"/>
          <td th:text="${seller.phoneNum}"/>
          <td th:text="${seller.businessRegNum}"/>
          <td class="seller-status" th:text="${seller.status}"/>
          <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_HEAD')">
            <div class="btn-group" th:if="${#strings.equals(seller.status.toString(), 'READY')}">
              <button type="button" class="btn edit-btn btn-jelly" th:idx="${sellerStat.index}" th:status="ok" onclick="updateSeller(this.getAttribute('idx'), this.getAttribute('status'))">승인</button>
              <button type="button" class="btn edit-btn btn-jelly" th:idx="${sellerStat.index}" th:status="reject" onclick="updateSeller(this.getAttribute('idx'), this.getAttribute('status'))">거절</button>
            </div>
            <button type="button" class="btn btn-jelly" th:idx="${sellerStat.index}" onclick="deleteSeller(this.getAttribute('idx'))">삭제</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <th:block th:if="${sellerList.totalElements > 0}">
      <div class="margin-20"></div>
    <!-- pagination -->
    <div class="py-3 my-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${!sellerList.hasPrevious} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/sellers(page = ${nowPage - 2})}">&nbsp;<&nbsp;</a>
          </li>

          <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <li class="page-item" th:if="${page != nowPage}"><a class="page-link" th:href="@{/admin/sellers(page = ${page - 1})}" th:text="${page}">1</a></li>
            <li class="page-item" th:if="${page == nowPage}"> <strong class="page-link" th:text="${page}" style="background-color: #DBD0C0"></strong></li>
          </th:block>

          <li class="page-item" th:classappend="${nowPage == endPage} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/sellers(page = ${nowPage})}">&nbsp;>&nbsp;</a>
          </li>
        </ul>
      </nav>
    </div>
    </th:block>
    <th:block th:unless="${sellerList.totalElements} > 0">
      <div class="text-center">
        등록된 판매자가 없습니다.
      </div>
    </th:block>
    <div class="margin-my"></div>
  </div>
</div>
<div class="margin-my"></div>
</body>
</html>