<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminMain}">
<body>
<div layout:fragment="adminMain" class="container">
  <div class="margin-my"></div>
  <!-- 상단 메뉴바 -->
  <div>
  <div th:replace="fragments/myPageNav :: myPageFragment"/>
    <div class="margin-20"></div>
    <div style="text-align: center;">
      <h3>| 일반 회원 |</h3>
    </div>
    <div class="margin-20"></div>
    <div>
      <table class="table table-hover" style="text-align: center;">
        <thead>
        <tr>
          <th scope="col">계정 ID</th>
          <th scope="col">이름</th>
          <th scope="col">주소</th>
          <th scope="col">이메일</th>
          <th scope="col">핸드폰 번호</th>
          <th scope="col">권한</th>
          <th scope="col">수정/삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-hover user-info" th:each="user : ${userList}">
          <th th:text="${user.userName}"/>
          <td class="user-id" th:text="${user.id}" style="display: none;"/>
          <td class="username" th:text="${user.name}"/>
          <td th:text="${user.address}"/>
          <td th:text="${user.email}"/>
          <td th:text="${user.phoneNum}"/>
          <td class="role" th:text="${user.userRole}" />
          <td sec:authorize="hasRole('ROLE_ADMIN')">
            <button type="button" class="btn-jelly">
              삭제
            </button>
          </td>
          <td class="btn-group-vertical" sec:authorize="hasRole('ROLE_HEAD')">
            <button type="button" class="btn edit-btn btn-jelly" th:idx="${userStat.index}" onclick="updateRole(this.getAttribute('idx'))">수정</button>
            <button type="button" class="btn btn-jelly" th:idx="${userStat.index}" onclick="deleteRole(this.getAttribute('idx'))">삭제</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <th:block th:if="${userList.totalElements > 0}">
      <div class="margin-20"></div>
    <!-- pagination -->
    <div class="py-3 my-4" sec:authorize="hasAnyRole('ROLE_ADMIN')">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${!userList.hasPrevious} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/users(page = ${nowPage - 2})}">&nbsp;<&nbsp;</a>
          </li>

          <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <li class="page-item" th:if="${page != nowPage}"><a class="page-link" th:href="@{/admin/users(page = ${page - 1})}" th:text="${page}">1</a></li>
            <li class="page-item" th:if="${page == nowPage}"> <strong class="page-link" th:text="${page}" style="background-color: #DBD0C0"></strong></li>
          </th:block>

          <li class="page-item" th:classappend="${nowPage == endPage} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/users(page = ${nowPage})}">&nbsp;>&nbsp;</a>
          </li>
          </li>
        </ul>
      </nav>
    </div>
      <div class="margin-20"></div>
    <!-- pagination -->
    <div class="py-3 my-4" sec:authorize="hasAnyRole('ROLE_HEAD')">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${!userList.hasPrevious} ? 'disabled'">
            <a class="page-link" th:href="@{/head/users(page = ${nowPage - 2})}">&nbsp;<&nbsp;</a>
          </li>

          <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <li class="page-item" th:if="${page != nowPage}"><a class="page-link" th:href="@{/head/users(page = ${page - 1})}" th:text="${page}">1</a></li>
            <li class="page-item" th:if="${page == nowPage}"> <strong class="page-link" th:text="${page}" style="background-color: #DBD0C0"></strong></li>
          </th:block>

          <li class="page-item" th:classappend="${nowPage == endPage} ? 'disabled'">
            <a class="page-link" th:href="@{/head/users(page = ${nowPage})}">&nbsp;>&nbsp;</a>
          </li>
        </ul>
      </nav>
    </div>
    </th:block>
    <th:block th:unless="${userList.totalElements} > 0">
      <div class="text-center">
        회원이 존재하지 않습니다.
      </div>
    </th:block>
    <div class="margin-my"></div>
  </div>
</div>
<div class="margin-my"></div>
</body>
</html>