<!DOCTYPE html>

<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>주문 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<style>

    .main {
        width: 60%;
        min-height: 400px;
        background-color: seashell;
        margin: auto;
    }

    .item-list {
        display: flex;
        flex-direction: row;
    }

    .box {
        margin-top: 35px;
    }

    .content {
        margin-top: 5px;
        margin-left: 25px
    }

    table {
        margin-top: 10px;
        width: 40%;
    }


    .button-container {
        margin-top: 50px;
        height: 50px;
        text-align: center;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<!-- swal 적용 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<div class="container">
    <h3><b>주문 상세</b></h3>
    <table class="container">
        <tr>
            <td>주문날짜</td>
            <td>[[${order.orderDate}]]</td>
        </tr>
        <tr>
            <td>주문 번호</td>
            <td>[[${order.orderNum}]]</td>
        </tr>
        <tr>
            <td>주문 상품</td>
            <td>[[${order.itemName}]]</td>
        </tr>
        </tr>
    </table>
    <h3><b>받는 사람 정보</b></h3>
    <table class="container">
        <tr>
            <td>받는 사람</td>
            <td>[[${order.username}]]</td>
        </tr>
        <tr>
            <td>연락처</td>
            <td>[[${user.phoneNum}]]</td>
        </tr>
        <tr>
            <td>받는 주소</td>
            <td>[[${order.address}]]</td>
        </tr>
        </tr>
    </table>

    <h3><b>결제 정보</b></h3>
    <table class="container">
        <tr>
            <td>총 결제 금액</td>
            <td id="sum">[[${order.totalPrice}]]원</td>
        </tr>

    </table>
</div>
<div class="button-container">
    <div class="button">
        <button class="btn btn-warning" onclick="cancel()">취소하기</button>
    </div>
    <div class="button">
        <button type="button" th:onclick="|location.href='@{/orders/my}'|">주문 목록</button>
    </div>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</div>
</body>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    function cancel() {
        console.log('실행');
        if ([[${order.orderStatus}]] == 'CANCEL') {
            alert('이미 취소된 주문입니다.');
            return false;
        }
        if ([[${order.deliveryStatus}]] == 'COMP') {
            alert('이미 배송 완료되었습니다.')
            return false;
        }
        if (confirm("정말 취소하시겠습니까?") == true) {
            const data = {
                imp_uid: [[${order.impUid}]],
                totalCost: document.getElementById('sum').innerText,
                orderId: [[${order.id}]],
            };
            console.log([[${order.id}]]);

            cancelPayment(data);

            function cancelPayment(data) {
                $.ajax({
                    url: "/api/v1/orders/payment/cancel",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    dataType: "json"
                }).done(function () {
                    swal({
                        text: '주문 취소가 완료되었습니다.',
                        closeOnClickOutside: false
                    })
                        .then(function () {
                            location.replace("/orders/" + [[${order.orderNum}]])
                        })
                }).fail(function (result) {
                    console.log(result);
                    var responseText = result.responseText;
                    console.log(responseText);
                    var message = responseText.split('\"')[13];
                    console.log(message);
                    alert(message);
                    location.replace("/orders/" + [[${order.id}]])
                });
            }
        } else {
            return;
        }
    }
    /*]]>*/
</script>