<!DOCTYPE html>

<html lang ="ko">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>주문 페이지</title>
    <head th:replace="fragments/header :: headerFragment"/>
   </head>
  <style>

    .main {
      background-color: seashell;
      margin: 50px;
    }

    .box {
      margin-top: 25px;
    }

    .item-list {
      display: flex;
      flex-direction: row;
    }

    .button-container{
      margin-top: 50px;
      height:50px;
      text-align:center;
    }

    .button {
      margin-left:auto;
      margin-right:auto;
    }
  </style>

  <body>
    <div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
    <div class = main>
      <div class="box">
        <h4>주문자 정보</h4>
        <table>
          <tr>
            <td>이름</td>
            <td>[[${userResponse.name}]]</td>
          </tr>
          <tr>
            <td>핸드폰 번호</td>
            <td>[[${userResponse.phoneNum}]]</td>
          </tr>
          <tr>
            <td>이메일</td>
            <td>[[${userResponse.email}]]</td>
          </tr>
        </table>
      </div>
      <div class="box">
        <h4>배송지 정보</h4>
        <table>
          <tr>
            <td>이름</td>
            <td>[[${userResponse.name}]]</td>
          </tr>
          <tr>
            <td>핸드폰 번호  </td>
            <td>[[${userResponse.phoneNum}]]</td>
          </tr>
          <tr>
            <td>주소</td>
            <td>[[${userResponse.address}]]</td>
          </tr>
        </table>
      </div>
    <div class="box">
      <h4>주문 정보</h4>
        <div>결제 예정 금액: [[${orderInfoResponse.getTotalPrice()}]]</div>

      </div>
      <div class="button-container">
        <div class="button">
         <button type="submit" class="btn btn-warning">결제하기</button>
        </div>
      </div>
    </div>

    <br>

    <div th:replace="fragments/footer :: footerFragment"/>

    </div>
  </body>
</html>