<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<body>
<!-- 섹션의 전체 틀 div -->
<div class="recipe-wapper">

    <!-- bodyHeader -->
    <div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>

    <div class="container"><br>
        <!-- 상단 메뉴바 -->
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light"><a href="/recipes/my">레시피</a></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><a href="/users/my/get-reviews">댓글</a></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><a href="/orders/my">주문목록</a></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><a href="/recipes/likes/my">찜한 레시피</a></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light"><a href="/users/my/update">회원 정보 수정</a></div>
            </div>
        </div>
    </div>
    <div class="container_etc" style="width: 460px">
        <h2>회원정보</h2>
        <form role="form" th:object="${user}" method="get">
            <div class="mb-3">
                <label th:for="address" th:text="#{label.name}" class="form-label">주소</label>
                <input type="text" th:field="*{name}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{name}">주소 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="address" th:text="#{label.userName}" class="form-label">주소</label>
                <input type="text" th:field="*{userName}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{userName}">주소 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="address" th:text="#{label.address}" class="form-label">주소</label>
                <input type="text" th:field="*{address}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{address}">주소 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="email" th:text="#{label.email}" class="form-label">이메일</label>
                <input type="text" th:field="*{email}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{email}">이메일 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="address" th:text="#{label.phoneNum}" class="form-label">핸드폰번호</label>
                <input type="text" th:field="*{phoneNum}" class="form-control"
                       th:errorclass="field-error" readonly>
                <div class="field-error" th:errors="*{phoneNum}">핸드폰 번호 오류</div>
            </div>
        </form>

    </div>

    <br/>
    <div th:replace="fragments/footer :: footerFragment"/>
</div>
</body>

</html>