<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<style>
    form {
        margin: auto;
        width: 30%;
    }

    .button {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        color: #625d55;
        background-color: white;
        border-color: #625d55;
        font-weight: bold;
    }

    .btn:hover, .btn:active, .btn:visited {
        border-color: #DBD0C0 !important;
        outline-color: #DBD0C0 !important;
        background-color: #DBD0C0 !important;
        color: black;
    }

</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<br>
    <div class="container">
        <div class="margin-20"></div>

        <!-- 상단 메뉴바 -->
        <div th:replace="fragments/myPageNav :: myPageFragment"/>

        <div class="margin-20"></div>
        <div style="text-align: center;">
            <h3>|&nbsp;&nbsp;&nbsp;회원 정보&nbsp;&nbsp;&nbsp;|</h3>
        </div>
        <div class="margin-20"></div>
        <form role="form" th:object="${user}" method="get">
            <div class="mb-3">
                <label th:for="address" th:text="#{label.name}" class="form-label">이름</label>
                <input type="text" th:field="*{name}" class="form-control" style="background-color: #dbd0c024;"
                       th:errorclass="field-error" readonly />
                <div class="field-error" th:errors="*{name}">이름 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="address" th:text="#{label.userName}" class="form-label">아이디</label>
                <input type="text" th:field="*{userName}" class="form-control" style="background-color: #dbd0c024;"
                       th:errorclass="field-error" readonly />
                <div class="field-error" th:errors="*{userName}">아이디 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="address" th:text="#{label.address}" class="form-label">주소</label>
                <input type="text" th:field="*{address}" class="form-control" style="background-color: #dbd0c024;"
                       th:errorclass="field-error" readonly />
                <div class="field-error" th:errors="*{address}">주소 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="email" th:text="#{label.email}" class="form-label">이메일</label>
                <input type="text" th:field="*{email}" class="form-control" style="background-color: #dbd0c024;"
                       th:errorclass="field-error" readonly />
                <div class="field-error" th:errors="*{email}">이메일 오류</div>
            </div>

            <div class="mb-3">
                <label th:for="address" th:text="#{label.phoneNum}" class="form-label">핸드폰번호</label>
                <input type="text" th:field="*{phoneNum}" class="form-control" style="background-color: #dbd0c024;"
                       th:errorclass="field-error" readonly />
                <div class="field-error" th:errors="*{phoneNum}">핸드폰 번호 오류</div>
            </div>
            <div class="button-container">
                <div class="button" style="text-align: center;">
                    <button type="button" class="btn" th:onclick="|location.href='@{/users/my/update}'|">회원 정보 수정</button>
                </div>
            </div>
        </form>

        <div class="margin-my"></div>
    </div>
    <div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>