<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<style>
    a {
        text-decoration: none !important;
        color: black;
    }

    a:hover {
        text-decoration: none !important;
        color: black;
    }

    /* 테이블 tr 색상 */
    .tr-hover:hover {
        background-color: #f7f2ebf0;
    }

</style>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<br>
<div class="container">
    <div class="margin-20"></div>

        <!-- 상단 메뉴바 -->
        <div th:replace="fragments/myPageNav :: myPageFragment"/>
        <div class="margin-20"></div>
        <div style="text-align: center;">
            <h3>|&nbsp;&nbsp;&nbsp;찜한 레시피&nbsp;&nbsp;&nbsp;|</h3>
        </div>
        <div class="margin-20"></div>

        <table class="table table-hover" style="text-align: center;">
            <thead>
            <tr>
                <th style="width: 50px">ID</th>
                <th style="width: 250px">제목</th>
                <th style="width: 100px">작성자</th>
                <th style="width: 50px">좋아요</th>
                <th style="width: 50px">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tr-hover" th:each="recipe : ${myLikeRecipeList}">
                <td><a th:href="@{/recipes/{recipeId}(recipeId=${recipe.getRecipeId})}" th:utext="${recipe.recipeId}"></a></td>
                <td><a th:href="@{/recipes/{recipeId}(recipeId=${recipe.getRecipeId})}" th:utext="${recipe.recipeTitle}"></a></td>
                <td th:text="${recipe.userName}"/>
                <td th:text="${recipe.recipeLike}"/>
                <td th:text="${recipe.recipeView}"/>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="margin-20"></div>
    <th:block th:if="${myLikeRecipeList.totalElements > 0}">
    <!-- pagination -->
    <div class="py-3 my-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1 == nowPage} ? 'disabled'">
                    <a class="page-link" th:href="@{/orders/my(page = ${nowPage - 2})}">&nbsp;<&nbsp;</a>
                </li>

                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" th:if="${page != nowPage}"><a class="page-link"
                                                                        th:href="@{/recipes/likes(page = ${page - 1})}"
                                                                        th:text="${page}">1</a></li>
                    <li class="page-item" th:if="${page == nowPage}"><strong class="page-link" th:text="${page}"
                                                                             style="background-color: #DBD0C0"></strong></li>
                </th:block>

                <li class="page-item" th:classappend="${!myLikeRecipeList.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/recipes/likes/my(page = ${nowPage})}">&nbsp;>&nbsp;</a>
                </li>
            </ul>
        </nav>
    </div>
    </th:block>
    <th:block th:unless="${myLikeRecipeList.totalElements} > 0">
        <div class="text-center">
            좋아요를 누른 레시피가 없습니다.
        </div>
    </th:block>

<div class="margin-my"></div>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>