<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<style>
    a {
        text-decoration: none !important;
        color: black;
    }

    a:hover {
        text-decoration: none !important;
        color: black;
    }

    /* 테이블 tr 색상 */
    .tr-hover:hover {
        background-color: #f7f2ebf0;
    }
</style>
<body>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<br>
    <div class="container">
        <div class="margin-20"></div>
        <!-- 상단 메뉴바 -->
        <div th:replace="fragments/myPageNav :: myPageFragment"/>

        <div class="margin-20"></div>
        <div style="text-align: center;">
            <h3>|&nbsp;&nbsp;&nbsp;나의 레시피&nbsp;&nbsp;&nbsp;|</h3>
        </div>
        <div>
            <span style="float: right;">
                <button type="button" class="btn"
                        th:onclick="|location.href='@{/recipes/create}'|">레시피 등록</button>
                <button type="button" class="btn"
                        th:onclick="|location.href='@{/recipes/list}'|">전체 레시피 보기</button>
            </span>
        </div>
        <div class="margin-20"></div>

        <table class="table table-hover" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="width: 350px">레시피 제목</th>
                    <th scope="col">작성일</th>
                    <th scope="col">수정일</th>
                    <th scope="col" style="width: 100px">조회수</th>
                    <th scope="col" style="width: 100px">좋아요</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-hover" th:each="recipe : ${myRecipes}"
                    th:onclick="|location.href='@{/recipes/{recipeId}(recipeId=${recipe.getRecipeId})}'|">
                    <th scope="row" th:text="${recipe.getRecipeId()}"/>
                    <td th:text="${recipe.getRecipeTitle}"/>
                    <td><span th:text="${#temporals.format(recipe.createdDate, 'yyyy-MM-dd HH:mm')}"></span></td>
                    <td><span th:text="${#temporals.format(recipe.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></span></td>
                    <td th:text="${recipe.getRecipeView}"/>
                    <td th:text="${recipe.getRecipeLike}"/>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="margin-20"></div>
    <th:block th:if="${myRecipes.totalElements} > 0">
        <!-- pagination -->
        <div class="py-3 my-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!myRecipes.hasPrevious} ? 'disabled'">
                        <a class="page-link" th:href="@{/recipes/my(page = ${nowPage - 2})}">&nbsp;<&nbsp;</a>
                    </li>

                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <li class="page-item" th:if="${page != nowPage}"><a class="page-link"
                                                                            th:href="@{/recipes/my(page = ${page - 1})}"
                                                                            th:text="${page}">1</a></li>
                        <li class="page-item" th:if="${page == nowPage}"><strong class="page-link" th:text="${page}"
                                                                                 style="background-color: #DBD0C0"></strong></li>
                    </th:block>

                    <li class="page-item" th:classappend="${nowPage == endPage} ? 'disabled'">
                        <a class="page-link" th:href="@{/recipes/my(page = ${nowPage})}">&nbsp;>&nbsp;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
    <th:block th:unless="${myRecipes.totalElements} > 0">
        <div class="text-center">
            현재 등록한 글이 없습니다.
        </div>
    </th:block>
<div class="margin-my"></div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>