<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<body>
<!-- 섹션의 전체 틀 div -->
<div class="recipe-wapper">

    <!-- bodyHeader -->
    <div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>

    <div class="container"><br>
        <!-- 상단 메뉴바 -->
        <div th:replace="fragments/myPageNav :: myPageFragment"/>

        <div class="container" style="width: 460px">
            <h2>비밀번호 변경</h2>
            <form role="form" th:object="${userPasswordReqDto}" method="post">
                <div class="form-group">
                    <label th:for="password" th:text="#{label.userPassword}">비밀번호</label>
                    <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
                </div>
                <button type="submit" class="btn btn-primary">비밀번호 변경하기</button>
            </form>
        </div>
    </div>

    <br/>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>

</html>