<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<div class="container">
    <div class="margin-20"></div>

    <!-- 상단 메뉴바 -->
    <div th:replace="fragments/myPageNav :: myPageFragment"/>
    <div class="margin-20"></div>
    <div style="text-align: center;">
        <h3>|&nbsp;&nbsp;&nbsp;비밀번호 변경&nbsp;&nbsp;&nbsp;|</h3>
    </div>
    <div class="margin-common"></div>
    <div style="width: 30%; margin: 0 auto;">
        <form role="form" th:object="${userPasswordReqDto}" method="post" style="text-align: center;">
            <div class="form-group">
                <label th:for="password" th:text="#{label.userPassword}">비밀번호</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                       th:errorclass="field-error" id="password-content"  style="text-align: center;">
                <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
            </div>
            <div class="margin-20"></div>
            <button type="submit" id="submit-btn" class="btn">비밀번호 변경하기</button>
        </form>
    </div>
</div>
<div class="margin-common"></div>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
<script>
    $(document).ready(function () {
        $("#submit-btn").click(function () {
            if ($("#password-content").val().length == 0) {
                alert("변경할 비밀번호를 입력해주세요.");
                $("#password-content").focus();
                return false;
            }
        });
    });
</script>
</html>