<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<h2>관리자 페이지</h2>
<div align="center">
    <table>
        <thead>
        <tr>
            <th style="width: 150px">아이디</th>
            <th style="width: 50px">이름</th>
            <th style="width: 250px">주소</th>
            <th style="width: 250px">이메일</th>
            <th style="width: 100px">핸드폰번호</th>
            <th style="width: 100px">생년월일</th>
            <th style="width: 100px">회원등급</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.getUserName}"/>
            <td th:text="${user.getName}"/>
            <td th:text="${user.getAddress}"/>
            <td th:text="${user.getEmail}"/>
            <td th:text="${user.getPhoneNum}"/>
            <td th:text="${user.getBirth}"/>
            <td th:text="${user.getUserRole}"/>

        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>