<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<style>
    .container {
        width: 70%;
        margin: 0 auto;
    }

    h2 {
        margin-top: 10px;
        text-align: center;
    }

    .button {
        margin: auto;
        width: 60%;
    }

    .btn {
        color: #625d55;
        background-color: white;
        border-color: #625d55;
        font-weight: bold;
    }

    .btn:hover, .btn:active, .btn:visited {
        border-color: #DBD0C0 !important;
        outline-color: #DBD0C0 !important;
        background-color: #DBD0C0 !important;
        color: black;
    }

    .row {
        margin-top: 35px;
        height: 50px;
        text-align: center;
    }

    .col {
        margin-left: auto;
        margin-right: auto;
    }

    .join-wrapper {
        width: 600px;
        margin: 0 auto;
    }
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<div class="container">
    <div class="margin-my"></div>
    <div style="text-align: center;">
        <h3>|&nbsp;&nbsp;&nbsp;JOIN&nbsp;&nbsp;&nbsp;|</h3>
    </div>
    <div class="margin-20"></div>
    <div class="join-wrapper">
        <form role="form" th:action="@{/users/join}" th:object="${userJoinReqDto}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.hasGlobalErrors()}" th:text="${err}">글로벌 오류 메세지</p>
            </div>
            <div class="form-group">
                <label th:for="userName" th:text="#{label.userName}">아이디</label>
                <input type="text" th:field="*{userName}" class="form-control" placeholder="아이디 입력하세요"
                       th:errorclass="field-error">
                <button onclick="check_username()">아이디 중복 확인</button>
                <div class="field-error" th:errors="*{userName}">아이디 오류</div>
            </div>
            <br/>
            <div class="form-group">
                <label th:for="exampleInputPassword1" th:text="#{label.userPassword}">비밀번호</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
            </div>
            <br/>
            <div class="form-group">
                <label th:for="name" th:text="#{label.name}">이름</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{name}">이름 오류</div>
            </div>
            <br/>
            <div class="form-group">
                <label th:for="address" th:text="#{label.address}">주소</label>
                <input type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력하세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{address}">주소 오류</div>
            </div>
            <br/>
            <div class="form-group">
                <label th:for="email" th:text="#{label.email}">이메일</label>
                <input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                       th:errorclass="field-error">
                <button onclick="check_email()">이메일 중복 확인</button>
                <div class="field-error" th:errors="*{email}">이메일 오류</div>
            </div>
            <br/>
            <div class="form-group">
                <label th:for="phoneNum" th:text="#{label.phoneNum}">핸드폰 번호</label>
                <input type="text" th:field="*{phoneNum}" class="form-control" placeholder="띄어쓰기나 - 없이 핸드폰 번호만 입력해주세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{phoneNum}">핸드폰 번호 오류</div>
            </div>
            <br/>
            <div class="form-group">
                <label th:for="birth" th:text="#{label.birth}">출생연도</label>
                <input type="text" th:field="*{birth}" class="form-control" placeholder="출생연도를 입력하세요"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{birth}">출생연도 오류</div>
            </div>

            <div class="button">
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-primary" type="submit">회원가입</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-secondary"
                                th:onclick="|location.href='@{/}'|"
                                type="button" th:text="#{button.cancel}">취소
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="margin-my"></div>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
<script th:inline="javascript">
    function check_username() {
        let username = $('#userName').val();
        console.log(username)
        if (username.trim().length === 0) {
            return;
        }
        $.ajax({
            url: "/api/v1/check-username",
            method: "GET",
            data: {
                userName: username
            },
            success: function (message) {
                if (message == '중복된 아이디 입니다.') {
                    alert(message)
                } else if (message == '사용 가능한 아이디 입니다.')
                {
                    alert(message)
                }
            }
        })
    }

    function check_email() {
        let email = $('#email').val();
        console.log(email)
        if (email.trim().length === 0) {
            return;
        }
        $.ajax({
            url: "/api/v1/check-email",
            method: "GET",
            contentType: 'application/json',
            data: {
                email: email
            },
            success: function (message) {
                if (message == '중복된 이메일 입니다.') {
                    alert(message)
                } else if (message == '사용가능한 이메일 입니다.')
                {
                    alert(message)
                }
            }
        })
    }
</script>
</html>
