<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<style>

    .container {
        margin: auto;
        width: 50%;
    }

    .row {
        margin-top: 50px;
        height: 50px;
        text-align: center;
    }

    .col {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<div class="container">
    <br>
    <h2>회원가입</h2>
    <br>
    <form role="form" th:action="@{/users/join}" th:object="${userJoinReqDto}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.hasGlobalErrors()}" th:text="${err}">글로벌 오류 메세지</p>
        </div>
        <div class="form-group">
            <label th:for="userName" th:text="#{label.userName}">아이디</label>
            <input type="text" th:field="*{userName}" class="form-control" placeholder="아이디 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{userName}">아이디 오류</div>
        </div>
        <br/>
        <div class="form-group">
            <label th:for="password" th:text="#{label.userPassword}">비밀번호</label>
            <input type="text" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
        </div>
        <br/>
        <div class="form-group">
            <label th:for="name" th:text="#{label.name}">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}">이름 오류</div>
        </div>
        <br/>
        <div class="form-group">
            <label th:for="address" th:text="#{label.address}">주소</label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="아이디를 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{address}">주소 오류</div>
        </div>
        <br/>
        <div class="form-group">
            <label th:for="email" th:text="#{label.email}">이메일</label>
            <input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{email}">이메일 오류</div>
        </div>
        <br/>
        <div class="form-group">
            <label th:for="phoneNum" th:text="#{label.phoneNum}">핸드폰 번호</label>
            <input type="text" th:field="*{phoneNum}" class="form-control" placeholder="핸드폰 번호를 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{phoneNum}">핸드폰 번호 오류</div>
        </div>
        <br/>
        <div class="form-group">
            <label th:for="birth" th:text="#{label.birth}">출생연도</label>
            <input type="text" th:field="*{birth}" class="form-control" placeholder="출생연도를 입력하세요"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{birth}">출생연도 오류</div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary" type="submit">회원가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary"
                        th:onclick="|location.href='@{/}'|"
                        type="button" th:text="#{button.cancel}">취소
                </button>
            </div>
        </div>
    </form>
    <br/>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>