<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer class="sticky-footer bg-white">
    <div class="my-auto"  style="background-color: #FAEEE0; width: 100%; height: 110px;">
      <div class="copyright text-center my-auto">
        <span style="line-height: 110px; font-size: medium;">
          <div style="word-break:break-all;">
            Copyright &copy; 우아한 남매들.
            2023 by Culturehero. All rights are reserved.
          </div>
        </span>
      </div>
    </div>
  </footer>
</th:block>
</html>