<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="myPageFragment">
  <div class="container2 px-4 text-center my-nev mt-5" sec:authorize="hasRole('ROLE_USER')">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 border detail-box"><a href="/users/my">나의 정보</a></div>
      </div>
      <div class="col">
        <div class="p-3 border detail-box"><a href="/recipes/my">레시피</a></div>
      </div>
      <div class="col">
        <div class="p-3 border detail-box"><a href="/recipes/likes/my">찜한 레시피</a></div>
      </div>
      <div class="col">
        <div class="p-3 border detail-box"><a href="/users/my/reviews">댓글</a></div>
      </div>
      <div class="col">
        <div class="p-3 border detail-box"><a href="/orders/my">주문목록</a></div>
      </div>
    </div>
  </div>

  <div class="container2 px-4 text-center my-nev mt-5" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_HEAD')">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 border detail-box"><a href="/users/my">나의 정보</a></div>
      </div>
      <div class="col" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="p-3 border detail-box"><a href="/admin/users">회원 관리</a></div>
      </div>
      <div class="col" sec:authorize="hasRole('ROLE_HEAD')">
        <div class="p-3 border detail-box"><a href="/head/users">회원 관리</a></div>
      </div>
      <div class="col">
        <div class="p-3 border detail-box"><a href="/admin/sellers">판매자 관리</a></div>
      </div>
    </div>
  </div>
</th:block>
</html>
