<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="sellerBodyHeaderFragment">
  <header>
    <nav class="py-2 bg-light border-bottom">
      <p th:text="${#authentication.name}"></p>
      <p th:text="${#authentication.authorities}"></p>
      <p th:text="${#authentication.authenticated}"></p>
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item"><a href="/sellerIndex" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/seller/recipes/list" class="nav-link link-dark px-2">레시피</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2" onclick="alert('해당 서비스는 아직 준비중입니다.')">FAQs</a></li>
        </ul>
        <ul class="nav me-auto justify-content-end">
          <!--비로그인도 가능-->
          <li class="nav-item" sec:authorize="isAnonymous()"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
          <li class="nav-item" sec:authorize="isAnonymous()"><a href="/join" class="nav-link link-dark px-2">Sign up</a></li>
          <!--로그인만 가능-->
          <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="/seller/my" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              마이페이지
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/seller/my">회원 정보</a></li>
              <li sec:authorize="hasRole('SELLER')"><a class="dropdown-item" href="/seller/my/items">상품 관리</a></li>
              <li sec:authorize="hasRole('SELLER')"><a class="dropdown-item" href="/seller/items/create">상품 등록</a></li>
            </ul>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/seller/logout" class="nav-link link-dark px-2">LogOut</a></li>
        </ul>
      </div>
    </nav>
  </header>
</th:block>
</html>
