<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="sellerBodyHeaderFragment">
  <header>
    <div style="background-color: rgb(147,112,98,0.6); color:white; width: 100%; height: 70px;">
      <h5 style="line-height: 70px; font-weight:bold;">Welcome to Woowahan recipe site :)</h5>
    </div>
  </header>
  <br>
  <header>
    <nav>
      <div class="container d-flex flex-wrap justify-content-between" >
        <ul class="nav me-auto">
          <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/recipes/list" class="nav-link link-dark px-2">레시피</a></li>
          <li class="nav-item"><a href="/items" class="nav-link link-dark px-2">재료</a></li>
<!--          <li class="nav-item"><a href="#" class="nav-link link-dark px-2" onclick="alert('해당 서비스는 아직 준비중입니다.')">FAQs</a></li>-->
        </ul>
        <ul class="nav ml-auto me-3">
           <!--로그인만 가능-->
          <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_SELLER', 'ROLE_READY', 'ROLE_REJECT')">
            <a class="nav-link dropdown-toggle" href="/seller/my" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              마이페이지
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_SELLER', 'ROLE_READY', 'ROLE_REJECT')" href="/seller/my">회원 정보</a></li>
              <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_SELLER')" href="/seller/my/items">상품 관리</a></li>
              <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_SELLER')" href="/seller/items/create">상품 등록</a></li>
            </ul>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/seller/logout" class="nav-link link-dark px-2">LogOut</a></li>
        </ul>
      </div>
    </nav>
  </header>
</th:block>
</html>