<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cart-main}">
<!--<head th:replace="fragments/header :: headerFragment"/>-->
<body>
<!--<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>-->
<div layout:fragment="cart-main" class="container">
    <div class="border-bottom p-2 my-3">
        <h2>장바구니 페이지</h2>
        <div>진행상황 띄우기</div>
    </div>
    <div>
        <table class="table cart-table text-center align-middle">
            <thead>
            <colgroup>
                <col style="width: 5%" />
                <col style="width: 30%" />
                <col style="width: 30%" />
                <col style="width: 10%" />
                <col style="width: 15%" />
                <col style="width: 10%" />
            </colgroup>
            <tr>
                <th>선택</th>
                <th>상품 이미지</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th scope="col">삭제</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="cartList" th:each="item : ${cartList}" >
                <td>
                    <input class="form-check-input" name="item" type="checkbox" id="flexCheckDefault" th:value="${item.price}" onclick="getCheckPrice()">
                </td>
                <td class=".individual_image_input">
                    <div class="border d-flex justify-content-center align-items-center">
                        <img src="..." class="rounded" th:alt="|${{item.name}} 이미지|">
                    </div>
                </td>
                <td class="individual_name_input text-truncate" th:text="${item.name}">상품 이름</td>
                <td class="individual_cnt_input">
                    <button type="button" class="btn btn-jelly" onclick="count('minus')" value="-"/>
                    <input type="number" class="item-cnt" th:value="${item.cnt}" readonly />
                    <button type="button" class="btn btn-jelly" onclick="count('plus')" value="+"/>
                </td>
                <td class=".individual_totalPrice_input" th:text="${item.price}">상품 가격</td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="deleteItem()">삭제</button>
                    <th:block layout:fragment="script">
                        <script type="text/javascript" th:inline="javascript">
                            /*<![CDATA[*/
                            function deleteItem() {
                                const name = [[${item.name}]];
                                console.log(name);
                                 let confirm_message = confirm(name + "을(를) 정말 삭제하시겠습니까?");

                                 if(confirm_message) {
                                     const formHtml = `
                                         <form id="deleteForm" action="/carts/${id}" method="post">
                                             <input type="hidden" id="id" name="id" value="${id}" />
                                         </form>
                                         `;
                                     const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                                     const form = doc.body.firstChild;
                                     document.body.append(form);
                                     document.getElementById('deleteForm').submit();
                                 }
                            }
                            /*]]>*/
                        </script>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
        <hr />
        <div class="cart-result rounded-3">
            <table class="table mx-5">
                <tr>
                    <td>주문금액</td>
                    <td class="order-price"></td>
                </tr>
                <tr class="border-bottom">
                    <td>배송비</td>
                    <td class="delivery-price"></td>
                </tr>
                <tr>
                    <td>총 결제 예정 금액</td>
                    <td class="total-price"></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary order-btn">주문하기</button>
        </div>
    </div>
</div>
</body>

</html>