<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{cartMain}">
<body>
<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<div class="container" layout:fragment="cartMain">
    <div class="margin-common"></div>
    <div style="text-align: center;">
        <h3>|&nbsp;&nbsp;&nbsp;CART&nbsp;&nbsp;&nbsp;|</h3>
    </div>
    <div class="margin-my"></div>
    <div style="margin-bottom: 20px;">
        <table class="table cart-table text-center align-middle">
            <thead>
            <colgroup>
                <col style="width: 5%" />
                <col style="width: 30%" />
                <col style="width: 30%" />
                <col style="width: 10%" />
                <col style="width: 15%" />
                <col style="width: 10%" />
            </colgroup>
            <tr>
                <th><input type="checkbox" name="itemCheck" value="selectAll" checked onclick="selectAll(this)" /></th>
                <th>상품 이미지</th>
                <th>상품명</th>
                <th>수량</th>
                <th>단위 가격</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <th:block th:if="${#lists.size(cartList) == 0}">
                <td colspan="6" class="text-center" style="border: none;">현재 장바구니에 등록된 상품이 없습니다.</td>
            </th:block>
            <th:block th:unless="${#lists.size(cartList) == 0}">
                <tr class="cartList" th:each="item : ${cartList}">
                    <td>
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" th:idx="${itemStat.index}" checked
                               th:cartItemId="${item.id}" th:itemId="${item.itemId}" th:cnt="${item.cnt}" th:price="${item.price}" onclick="getCheckPrice()">
                    </td>
                        <td class=".individual_image_input">
                            <div>
                                <img style="width: 100px; height: 100px; object-fit: cover; align-content: center; border-radius: 5%; border: 1px solid lightgrey;"
                                     th:src="${item.imagePath}" alt="이미지 준비중입니다."
                                     th:onerror="this.src='https://woowahan-recipe-s3-bucket.s3.ap-northeast-2.amazonaws.com/recipes/noimage.gif'"
                                     onclick="location.href='item/findForm.html'"
                                     th:onclick="|location.href='@{/items/{id}(id=${item.itemId})}'|"
                                     class="rounded" >
                            </div>
                        </td>
                        <td>
                            <div class="individual_name_input text-truncate" th:idx="${itemStat.index}" th:text="${item.name}"
                                 onclick="location.href='item/findForm.html'"
                                 th:onclick="|location.href='@{/items/{id}(id=${item.itemId})}'|">
                            </div>
                            <span style="font-size: small">현재 재고 : </span>
                            <span th:classappend="${item.stock < 10} ? 'text-danger'" style="font-size: small" th:text="${item.stock}"></span>
                        </td>
<!--                        <td class="individual_name_input text-truncate" th:idx="${itemStat.index}" th:text="${item.name}"-->
<!--                            onclick="location.href='item/findForm.html'"-->
<!--                            th:onclick="|location.href='@{/items/{id}(id=${item.itemId})}'|"></td>-->
                    <input type="hidden" class="individual_id_input" th:value="${item.id}"/>
                    <input type="hidden" class="individual_stock_input" th:value="${item.stock}"/>
                    <td class="individual_cnt_input d-flex flex-row align-items-center">
                        <button type="button" class="btn btn-jelly cnt-option-btn minus" th:idx="${itemStat.index}" onclick="count('minus', this.getAttribute('idx'))">-</button>
                        <input type="number" class="item-cnt m-2 text-center" min="1" width="50" th:idx="${itemStat.index}" th:value="${item.cnt}" readonly />
                        <button type="button" class="btn btn-jelly cnt-option-btn plus" th:idx="${itemStat.index}" onclick="count('plus', this.getAttribute('idx'))">+</button>
                    </td>
                    <td class="individual_price_input" th:idx="${itemStat.index}" th:text="${item.price}"></td>
                    <td>
                        <button type="button" class="btn delete-btn" th:idx="${itemStat.index}" th:value="${item.id}" th:onclick="deleteItem(this.getAttribute('idx'))">x</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <hr>
        <div class="cart-result rounded-3">
            <table class="table align-middle">
                <tr>
                    <td>주문금액</td>
                    <td class="border"><span class="order-price">0</span> 원</td>
                </tr>
                <tr>
                    <td>배송비</td>
                    <td class="border"><span class="delivery-price">0</span> 원</td>
                </tr>
                <tr style="height: 100px;">
                    <td>총 결제 예정 금액</td>
                    <td class="border"><span class="total-price">0</span> 원</td>
                </tr>
            </table>
        </div>
        <div style="height: 50px; width: 100%; margin-top: 40px; text-align:center;">
            <button type="submit" class="btn btn-primary order-btn" onclick="saveOrder()">주문하기</button>
        </div>
    </div>
    <div class="margin-common"></div>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>
