<!DOCTYPE html>

<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>주문 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" th:href="@{/css/order.css}">
</head>

<style>

    .main {
        width: 60%;
        min-height: 400px;
        margin: auto;
    }

    .item-list {
        display: flex;
        flex-direction: row;
    }

    .box {
        margin-top: 35px;
    }

    .content {
        margin-top: 5px;
        margin-left: 25px
    }

    table {
        margin-top: 10px;
        width: 40%;
    }


    .button-container {
        margin-top: 50px;
        height: 50px;
        text-align: center;
    }

    .button {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<!-- swal 적용 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
<div class="ord-title"><h3>주문/결제</h3></div>
<div class=container>
    <div class="box">
        <div class="customer__h2"><h4>주문자 정보</h4></div>
        <table class="order-table">
            <tr>
                <td class="customer__col--1">이름</td>
                <td class="customer__col--2">[[${userResponse.name}]]</td>
            </tr>
            <tr>
                <td class="customer__col--1">핸드폰 번호</td>
                <td class="customer__col--2">[[${userResponse.phoneNum}]]</td>
            </tr>
            <tr>
                <td class="customer__col--1">이메일</td>
                <td class="customer__col--2">[[${userResponse.email}]]</td>
            </tr>
        </table>
    </div>

    <br><br>

    <div class="customer__h2"><h4>받는사람 정보</h4></div>
    <div class="box">
        <table class="order-table">
            <tr>
                <td class="customer__col--1">이름</td>
                <td class="customer__col--2">[[${userResponse.name}]]</td>
            </tr>
            <tr>
                <td class="customer__col--1">핸드폰 번호</td>
                <td class="customer__col--2">[[${userResponse.phoneNum}]]</td>
            </tr>
            <tr>
                <td class="customer__col--1">주소</td>
                <td class="customer__col--2">[[${userResponse.address}]]</td>
            </tr>
        </table>
    </div>

    <br><br>

    <div class="box">
        <div class="customer__h2"><h4>상품 정보</h4></div>
        <form>
            <table class="order-table" th:each="cartItem : ${cartOrderDtoList}">
                <thead>
                <th th:width="300">상품 이름</th>
                <th th:width="100">상품 수량</th>
                </thead>
                <tbody>
                <td><span th:text="${cartItem.name}"></span></td>
                <td><span th:text="${cartItem.cnt}"></span></td>
                </tbody>
            </table>
        </form>
    </div>

    <br><br>

    <div class="box">
        <div class="customer__h2"><h4>결제 정보</h4></div>
        <table class="order-table">
            <tr>
                <td class="customer__col--1">총 상품 금액</td>
                <td class="customer__col--2"><span th:text="${cartOrderListDto.itemCost}"></span>원</td>
            </tr>
            <tr>
                <td class="customer__col--1">배송비</td>
                <td class="customer__col--2"><span th:text="${cartOrderListDto.deliveryCost}"></span>원</td>
            </tr>
            <tr>
                <td class="customer__col--1">결제 예정 금액</td>
                <td class="customer__col--2"><span id="cost" th:text="${cartOrderListDto.totalCost}"></span>원</td>
            </tr>
        </table>
    </div>
    <div class="button-container d-flex">
        <div class="button">
            <button type="submit" class="btn btn-outline-primary" onclick="requestPay()">결제하기</button>
            <script th:inline="javascript">
                /*<![CDATA[*/
                // 결제 금액, 구매자의 이름, 이메일
                function requestPay() {
                    const data = {
                        orderNum: createOrderNum(),
                        totalCost: document.getElementById('cost').innerText,
                        userName: [[${userResponse.name}]],
                        phoneNum: [[${userResponse.phoneNum}]],
                        email: [[${userResponse.email}]],
                        address: [[${userResponse.address}]],
                        itemName: [[${firstItem}]],
                        cartOrderList: [[${cartOrderDtoList}]]
                    }

                    paymentCard(data);
                }

                function paymentCard(data) {
                    var IMP = window.IMP; // 생략 가능
                    IMP.init("imp78668100");
                    IMP.request_pay({ // param
                        pg: "html5_inicis",
                        pay_method: "card",
                        merchant_uid: data.orderNum,    // 주문번호
                        amount: data.totalCost,
                        buyer_email: data.email,
                        buyer_name: data.userName,
                        buyer_tel: data.phoneNum,
                        buyer_addr: data.address,
                        name: data.itemName
                        // buyer_postcode: data.buyer_postcode
                    }, function (rsp) { // callback
                        if (rsp.success) {
                            // 결제 성공 시 로직,
                            data.imp_uid = rsp.imp_uid; // 고유 ID
                            data.merchant_uid = rsp.merchant_uid; // 거래 ID
                            // 결제 성공 시 검증 로직
                            paymentComplete(data);
                        } else {
                            var msg = '결제에 실패하였습니다';
                            msg += '\n 에러 내용 : ' + rsp.error_msg;
                            alert(msg);
                        }
                    });
                }

                function paymentComplete(data) {
                    $.ajax({
                        url: "/api/v1/carts/orders/payment/complete",
                        method: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                    }).done(function () {
                        // 성공시 응답 메세지
                        swal({
                            text: '주문이 완료되었습니다.',
                            closeOnClickOutside: false
                        }) // 에러 메세지 창 닫으면 실행될 함수
                            .then(function () {
                                location.replace("/orders/my")
                            })
                    }).fail(function (result) {
                        var responseText = result.responseText;
                        var message = responseText.split('\"')[13];
                        alert(message);

                        location.replace("/carts/order")
                    })
                }

                function createOrderNum() {
                    const date = new Date();
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, "0");
                    const day = String(date.getDate()).padStart(2, "0");

                    let orderNum = year + month + day;
                    for (let i = 0; i < 10; i++) {
                        orderNum += Math.floor(Math.random() * 8);
                    }
                    return orderNum;
                }

                function cancellation() {
                    alert("주문이 취소되었습니다.");

                    location.replace("/carts");
                }

                /*]]>*/
            </script>
            <button type="submit" class="btn btn-secondary" onclick="cancellation()">취소하기</button>
        </div>
    </div>
</div>
<br>
</div>
<div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>