.cart-table td {
    height: 150px;
}
.cart-table .item-cnt {
    border: none;
    outline: #DDF7F8;
}
.cart-table .cnt-option-btn {
    background-color: #DDF7F8;
}

hr {
    margin: 0;
}

.cart-result {
    background-color: #DDF7F8;
    height: 200px;
}
