.cart-table td {
    height: 150px;
}
.cart-table .item-cnt {
    border: none;
    outline: #DDF7F8;
    width: 100px;
}
.cart-table .cnt-option-btn {
    background-color: #DDF7F8;
}

hr {
    margin: 0;
}

.cart-result {
    background-color: #DDF7F8;
    height: 200px;
}

.delete-btn {
    color: red;
    width: 50px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}