.cart-table td {
    height: 150px;
}
.cart-table .item-cnt {
    border: none;
    outline: #F9E4C8;
    width: 100px;
}
.cart-table .cnt-option-btn {
    background-color: #F9E4C8;
}

hr {
    margin: 0;
}

.cart-result {
    /*background-color: #F9E4C8;*/
    height: 200px;
}

.delete-btn {
    color: red;
    width: 40px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check-input:checked {
    background-color: #DBD0C0;
    border-color: #DBD0C0;
}