@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}
h2 {
    font-family: LINESeedKR-Bd;
}

/* list */
ul, ol {
    list-style: none;
}

/* a태그 */
a, a:visited, a:active, a:focus {
    text-decoration: none;
    color: black;
}

/* header */
header {
    text-align : center;
}
header .logo {
    position: absolute; left: 50px; top: 0;
}
header .user-logo {
    position: absolute; right: 50px; top: 0;
}

/* input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* button */
.btn-jelly:hover {
    animation: 0.3s;
}
