@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}
h2 {
    font-family: LINESeedKR-Bd;
}

.container {
    max-width: 1200px;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

/* list */
ul, ol {
    list-style: none;
}

/* a태그 */
a, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: black;
}

/* header */
header {
    text-align : center;
}
header .logo {
    position: absolute; left: 50px; top: 0;
}
header .user-logo {
    position: absolute; right: 50px; top: 0;
}

/* myPageNav-style */
/*.my-nev {
    border-radius: 5px;
    padding: 13px;
    background-color: rgba(218, 226, 182, 0.38);
}*/

/* 마이 메뉴바 스타일 */
.detail-box {
    border: 1px solid #DFE7E8;
    padding: 8px;
    border-radius: 7px;
    font-size: large;
    margin-bottom: 5px;
    color: black;
}

/* input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* button */
@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}
.btn-jelly:hover {
    animation: jelly 0.5s;
}

/* dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0.125em;
}

/* pagination 색상 변경 */
.page-link {
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
}

.page-item.active .page-link {
    z-index: 1;
    color: #555;
    font-weight:bold;
    background-color: #f1f1f1;
    border-color: #ccc;

}

.page-link:focus, .page-link:hover {
    color: #000;
    background-color: #fafafa;
    border-color: #ccc;
}