<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: headerFragment"/>
    </head>
    <style>
        .wrapper {
            margin: auto;
            width: 40%;
            min-height: 400px;
        }

        .button-container {
            width: 80%;
            margin: auto;
            height: 50px;
            text-align: center;
        }

        .button {
            margin-top: 40%;
            padding: 30px;
            justify-content: center;
            align-items: center;
        }
    </style>
    <body>
    <div th:replace="fragments/bodyHeader :: bodyHeaderFragment"/>
    <div class="wrapper">
        <div class="button-container">
            <div class="button">
                <button class="w-100 btn btn-outline-primary btn-lg"
                        th:onclick="|location.href='@{/users/login}'|"
                        type="button" >회원 로그인
                </button>
                <br><br>
                <button class="w-100 btn btn-outline-primary btn-lg"
                        th:onclick="|location.href='@{/seller/login}'|"
                        type="button">판매자 로그인
                </button>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footerFragment"/>
    </body>
</html>