<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment"/>
<style>
    a { text-decoration:none !important; color:black; }
    a:hover { text-decoration:none !important; color:black;}

    /* 테이블 tr 색상 */
    .tr-hover:hover {
        background-color: #f7f2ebf0;
    }

</style>
<body>
    <div th:replace="fragments/sellerBodyHeader :: sellerBodyHeaderFragment"/>
    <div class="container">
        <div class="margin-20"></div>
        <div th:replace="fragments/mySellerPageNav :: mySellerPageNav"/>
        <div class="margin-20"></div>
        <div style="text-align: center;">
            <h3>|&nbsp;&nbsp;&nbsp;내 상품&nbsp;&nbsp;&nbsp;|</h3>
        </div>
        <div class="margin-20"></div>
        <span th:if="${myItemList.getTotalElements()} < 1">판매중인 상품이 없습니다.</span>
        <span th:if="${myItemList.getTotalElements()} >= 1"><b>총 상품 개수: [[${myItemList.getTotalElements()}]]</b></span>
        <br><br>
        <table class="table table-hover" style="text-align: center;">
            <thead>
                <tr class="header">
                    <th scope="col" style="width: 300px">상품명</th>
                    <th scope="col" style="width:20%">등록일</th>
                    <th scope="col" style="width:20%">수정일</th>
                    <th scope="col" style="width:300px">가격</th>
                    <th scope="col" style="width:80px">재고</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-hover" th:each="item : ${myItemList}">
                    <td onclick="location.href='itemFindForm.html'"
                        th:onclick="|location.href='@{/seller/items/{id}(id=${item.getId})}'|"
                        style="width: 300px">[[${item.itemName}]]</td>
                    <td style="width: 160px"><span th:text="${#temporals.format(item.createdDate, 'yyyy-MM-dd HH:mm')}"></span> </td>
                    <td style="width: 160px"><span th:text="${item.lastModified ==null}? ${#temporals.format(item.createdDate, 'yyyy-MM-dd HH:mm')}:${#temporals.format(item.lastModified, 'yyyy-MM-dd HH:mm')}"></span> </td>
                    <td style="width: 300px">[[${item.price}]]</td>
                    <td style="width: 300px">[[${item.stock}]]</td>
                </tr>
            </tbody>
        </table>
        <div class="margin-20"></div>
        <th:block th:if="${myItemList.totalElements} > 0">
        <!-- pagination -->
        <div class="py-3 my-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <!--이전 버튼-->
                    <li class="page-item" th:classappend="${!myItemList.hasPrevious()} ? 'disabled'">
                        <a class="page-link" th:href="@{/seller/my/items(page = ${nowPage - 2})}">&nbsp;<&nbsp;</a>
                    </li>
                    <!--페이지 번호 버튼-->
                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <li class="page-item" th:if="${page != nowPage}"><a class="page-link" th:href="@{/seller/my/items(page = ${page - 1})}" th:text="${page}">1</a></li>
                        <li class="page-item" th:if="${page == nowPage}"> <strong class="page-link" th:text="${page}" style="background-color: #DBD0C0"></strong></li>
                    </th:block>
                    <!--다음 버튼-->
                    <li class="page-item" th:classappend="${nowPage == endPage} ? 'disabled'">
                        <a class="page-link" th:href="@{/seller/my/items(page = ${nowPage})}">&nbsp;>&nbsp;</a>
                    </li>
                </ul>
            </nav>
        </div>
        </th:block>
        <div class="margin-my"></div>
    </div>
    <div th:replace="fragments/footer :: footerFragment"/>
</body>
</html>