<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: headerFragment"/>

  <style>
    .wrapper {
      margin: auto;
      width: 45%;
      min-height: 450px;
    }

    .container {
      margin: auto;
      padding: 30px;
    }

    .button-container {
      margin-top: 50px;
      height: 50px;
      text-align: center;
    }

    .button {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  <body>
    <!-- bodyHeader -->
    <div th:replace="fragments/sellerBodyHeader :: sellerBodyHeaderFragment"/>
    <!-- 섹션의 전체 틀 div -->
    <div class="wrapper">
      <div class="container"><br>
        <div class="container_etc mt-5" style="width: 460px">
          <h2>비밀번호 변경</h2>
          <br>
          <form role="form" th:object="${sellerPasswordUpdateRequest}" method="post">
            <div class="form-group">
              <label th:for="password">비밀번호</label>
              <input type="password" th:field="*{password}" class="form-control" placeholder="새로운 비밀번호를 입력하세요"
                     th:errorclass="field-error">
              <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
            </div>
            <div class="button-container">
              <div class="button">
                <button type="submit" class="btn btn-primary">비밀번호 변경하기</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <br/>
    </div>
    <div th:replace="fragments/footer :: footerFragment"/>
  </body>

</html>